.ihide{
  display: non;
}
body{
  background-image: url(../images/Match.jpg);
  background-size: cover;
}
.container{
  background-image: url(../images/bg.gif);
  border-radius: 30px;
  margin-top: 3%;
}
.jumbotron{
  margin-top: 14px;
}
.well{
  margin-bottom: 14px;

}
.btn-primary{
  font-family: 'Comic Sans MS',cursive;
  font-size: 21px;
  margin-left: 40%;
  width: 36%;
  letter-spacing:
}
.hide {
  font-size: 19px;
  font-weight: 300px;
  font-family: 'OCR A Std', monospace;
}
